body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0e0e0;
}

.principal{
    margin: 1em;
}

.cabecalho {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 1em;
    background: #1f1f1f;
    color: #e0e0e0;
    align-items: center;
}

.cabecalho h1{
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
}

.menu_itens {
    display: flex;
    justify-content: space-evenly;
}

.carrinho {
    display: flex;
    justify-content: right;
}

.container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.produtos {
    display: flex;
    box-sizing: border-box;
    margin: 0.5em;
    align-items: center;
    justify-content: space-evenly;
}

.produto_item {
    padding: 1em;
    border: solid #000;
    border-radius: 10px;
    margin: 1em;
    text-align: center;
    background-color: #fff;
}

.img {
    height: 30vh;
}

.botao {
    font-weight: 400;
    color: #e0e0e0;
    background-color: #292929;
    font-size: 14px;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 10px;
    transition: 0.8s all;
}

.botao:hover {
    transform: scale(1.1);
}

.produto_item p {
    padding: 0.3em;
    font-size: 20px;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 30px;
    background: #fff;
    position: relative;
}

.popup a {
    font-weight: 400;
    color: #e0e0e0;
    background-color: #292929;
    padding: 0.5em;
    border-radius: 10px;
    display: block;
    transition: 0.8s all;
}

.popup a:hover {
    transform: scale(1.1);
}

.popup-conteudo h2 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 1em;
}

.popup-conteudo p {
    text-align: justify;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.tamanhos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.btn-tamanho button {
    background-color: #1f1f1f;
    color: #e0e0e0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-tamanho button:hover {
    background-color: #e0e0e0;
    color: #1f1f1f;
    transform: scale(1.1);
}

.btn-tamanho button:focus {
    background-color: #e0e0e0;
    color: #1f1f1f;
}

.qtn input {
    width: 50px;
    height: 15px;
    border: solid 1px;
}

.qtn {
    text-align: justify;
    margin: 1em 1em 1em 0;
}